/* HEADER */
.bar {
  background-color: #176B87;
  max-width: 2500px;
}

.main_bar {
  background-color: #DAFFFB;
  max-width: 2500px;

}

.drop_down_menu{
  display: none;
}
.title-white {
  color: #04364A;
  font-size: 2.5vw

}
.container{
  width: 100%;
}
body {
  background-color: #DAFFFB;
  font-family: 'Montserrat', sans-serif;
  background-attachment: fixed;
  z-index: -1;
}

.logo-nev {
  color:  #176B87;
  font-family: 'Montserrat', sans-serif;
  font-size: 3vw;
}

.main-title {
  height: 80%vh;
  max-width: 2500px;
  max-height: 600px
  
}
.flag {
  width: 1.5rem;
}

.profilkep {
  max-width: 22rem;
  max-height: 22rem;
  border-radius: 50%;
  border: solid 0.5rem #176B87;
  margin: 3rem;
  margin-bottom: 5rem;
}

.profilkep_elott{
  display: none;
}
.nav-item{
  transition: 500ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-size: large;
}

.nav-item:hover {
  transition: 500ms;
  padding: 2px 2px;
  transform: translateY(-0px);
  font-size: x-large;
  
}

.nav-link:visited {
  color: #176B87;
}
.nav-link {
  color: #176B87;
}

.nav-link:hover {
  color: #176B87;
}

.icon{
  display: none;
}


.btn {

  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #04364A;
  background-color: #adb2b8;
  padding: 10px 30px;
  border: solid #264653 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 18px;
  transition: 500ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.btn:hover {

  transition: 500ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #ffffff00;
  color:#176B87;
  border: solid 2px #176B87;
}
.space-b{
  height: 50px;
}
.img-icon{
  max-width: 2rem;
}
/* ABOUT-ME */


.sekson {
  word-wrap: break-word;
  background-color: #176B87;
  padding: 3rem;
  min-height: 320px;
  max-width: 2500px;
  
  
}
.sekson-t {
  word-wrap: break-word;
  padding: 3rem;
  margin-top: 0;
  min-height: 300px;
  max-width: 2500px
  
  
}
.car-item{
  min-height: 270px;
  display: flex;
}

.f-sekson {
  height: 80%vh;
  max-width: 2500px;
  max-height: 600px;
  display: flex;
}
.laptop{
  display: none;
}
.about-kep {

  max-width: 80%;
  max-height: 270px;
}
.szov1 {
  color: #64CCC5;
  font-size: 2.5vw

}
.szov2 {
  color: #64CCC5;
  font-size: 1.35vw;
  text-align: left;

}
.szov3 {
  color: #64CCC5;
  font-size: 1.5vw

}

/* PROJECTS */

.card {
  /* background-color: #DAFFFB; */
  background-color: #176B87;
}

.gomb:hover {
  transition: 500ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #ffffff00;
  color:#64CCC5;
  border: solid 2px #64CCC5;
}
footer {
  background-color: #176B87;
  max-width: 2500px;
}
.copy {
  height: 10rem;
  margin-top: auto;
}
/* POPUP */

/* Add this to your existing styles */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #888;
  z-index: 1;
}

.popup-content {
  text-align: center;
}

/* Add this to style the close button */
.popup-content button {
  background-color: #176B87;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 650px) {

  .menu_list {
    display: none;
  }

  .flags {
    display: none;
  }

  #logo {
    font-size: 1.3rem;
    margin-left: 1rem;
  }

  .logo_photo {
    width: 2rem;
  }

  #title {
    font-size: medium;
  }
  .laptop{
    display: inline;
  }
  .logo_photo{
    display: none;
  }
  
  .title-white {
    margin: 1rem;
    display: flex;
    flex-direction: column;
  }

  

  .profilkep{
    display: none;
  }

  .profilkep_elott{
    display: block;
    width: 12rem;
    margin-bottom: 1rem;
  }
  .main-title{
    flex-direction: column;
    align-content: center;
    padding: 2rem;
  }
 .navbar{
    flex-wrap: nowrap;
  }

  /* .sekson{
    min-width: 300px;
  } */
  .f-sekson{
    /* justify-content: center;
    align-content: center; */
  }

  .icon{
    display: inline;
    width: 2rem;
    margin: 0;
  }

  .szov2{
    font-size: 1rem;
    min-width: 5rem;
    display: flex;
    flex-wrap: nowrap;
  }

  .szov3{
    font-size: 1rem;
    min-width: 5rem;
    padding: 1rem;
  }

  #about_me{
    font-size: large;
    min-width: 5rem;
  }
  #skills{
    font-size: large;
    min-width: 5rem;
    margin: auto;
   


  }
  #projektek{
    font-size: large;
   
  }

  .about-kep{
    min-width: 12rem;
  }

  .szoveg_div{
    padding: 0.5rem;
  }


  .car-item {
    flex-direction: column;

  }

  .carousel-item{
    flex-wrap: nowrap;
  }

  .skill_icon{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    min-width: 2rem;
    max-width: 4rem;
    margin: auto;
    padding: auto;

  }
  .skill_name{
    font-size: 0.8rem;
  }

  .footer_icon{
    margin: 0.5rem;
    padding: 0%;
  }
  .card_body{
    display: flex;
    flex-direction: column;
   
  }

  .drop_down_menu{
    background-color:#176B87;
    padding: 1rem;
    padding-left: 0%;
    display: none;
    text-align: left;
  }

  .drop_down_menu li{
    list-style: none;
    margin: 1rem;
    margin-left: 0.5;
    color: #64CCC5;
    display: flex;
  }
  .drop_down_menu li img{
    margin: 0.5rem;
    width: 2rem;
  }

  .drop_down_menu li a{
    text-decoration: none;
    color: #64CCC5;

  }


  .icon{
    font-size: 2rem;
    
  }

  .drop_down_menu li:hover, .drop_down_menu li:active{
    background-color: #64CCC5;
    color: #176B87;
  }


  .sekson-t{
    padding: 1.5rem;
  }

 
}